body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #3498db 0%, #ffffff 100%);
    font-family: Arial, sans-serif;
  }

  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-box {
    width: 350px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .login-box h2 {
    color: #333;
  }

  .login-box input[type="text"],
  .login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #3498db;
    outline: none;
  }

  .login-box input[type="submit"],
  .login-box input[type="reset"] {
    width: 49%; /* Adjust the width of both buttons */
    background: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .login-box input[type="submit"]:hover,
  .login-box input[type="reset"]:hover {
    background: #2980b9;
  }